@{
	ViewData["Title"] = "Access";
	Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

@section StyleSheets {
	<link href="~/lib/angular-ui-notification/angular-ui-notification.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/lib/select2/css/select2.css" rel="stylesheet" asp-append-version="true" />
	<link href="~/css/select2-override.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
	<script src="~/lib/angular-route/angular-route.js" nws-csp-add-nonce="true" asp-append-version="true"></script>
	<script src="~/lib/angular-ui/angular-ui.js" nws-csp-add-nonce="true" asp-append-version="true"></script>
	<script src="~/lib/angular-filter/angular-filter.js" nws-csp-add-nonce="true" asp-append-version="true"></script>
	<script src="~/lib/angular-smart-table/smart-table.min.js" nws-csp-add-nonce="true" asp-append-version="true"></script>
	<script src="~/lib/angular-ui-notification/angular-ui-notification.js" nws-csp-add-nonce="true" asp-append-version="true"></script>
	<script src="~/lib/select2/js/select2.js" nws-csp-add-nonce="true" asp-append-version="true"></script>

	<script src="~/pages/site/js/app-site.js" nws-csp-add-nonce="true" asp-append-version="true"></script>
	<script src="~/pages/site/js/app-sitedashboard.js" nws-csp-add-nonce="true" asp-append-version="true"></script>

	<script src="~/pages/site/js/featureAccessModule.js" nws-csp-add-nonce="true" asp-append-version="true"></script>
	<script src="~/pages/dashboard/featureAccess/js/app-featureAccess.js" nws-csp-add-nonce="true" asp-append-version="true"></script>
	<script src="~/pages/dashboard/featureAccess/js/featureAccessController.js" nws-csp-add-nonce="true" asp-append-version="true"></script>
}

<div class="ra-content" ng-app="app-featureAccess">
	<div class="ra-fill-view ra-content-flex" ng-view>

	</div>
</div>